{% extends 'base.html.twig' %}

{% block title %}
	Mon panier - TOMOKI
{% endblock %}

{% block content %}
	<div class="container py-5">
		<h1>Mon panier</h1>
		<p>Retrouvez l'ensemble des produits ajoutés au panier</p>
		<a href="{{ path('products') }}" class="btn btn-success mb-4">Continuer mes achats</a>
		<hr>
		{% if cart | length > 0 %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Produits</th>
							<th scope="col">Noms</th>
							<th scope="col">Quantité</th>
							<th scope="col">Prix</th>
							<th scope="col">Total</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% set total = 0 %}
						{% for product in cart %}
							<tr>
								<td>
									{% if product.product is not null and product.product.illustration is not null %}
										<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" style="height:100px; width:100px" class="img-fluid">
									{% else %}
										N/A
									{% endif %}
								</td>
								<td>
									{% if product.product is not null %}
										<p class="mb-0">{{ product.product.name }}</p>
										<p class="text-muted">{{ product.product.subtitle }}</p>
									{% else %}
										N/A
									{% endif %}
								</td>
								<td>
									{% if product.product is not null and product.product.id is not null %}
										<div class="d-flex">
											<a href="{{ path('decrease_to_cart',{'id':product.product.id}) }}" class="btn btn-sm btn-danger me-2">
												<i class="fas fa-minus"></i>
											</a>
											<span>{{ product.quantity }}</span>
											<a href="{{ path('add_to_cart',{'id':product.product.id}) }}" class="btn btn-sm btn-success ms-2">
												<i class="fas fa-plus"></i>
											</a>
										</div>
									{% else %}
										N/A
									{% endif %}
								</td>
								<td>
									{% if product.product is not null and product.product.price is not null %}
										{{ (product.product.price / 100) | number_format(2) }}€
									{% else %}
										N/A
									{% endif %}
								</td>
								<td>
									{% if product.product is not null and product.product.price is not null %}
										{% set productTotal = product.product.price * product.quantity %}
										{{ (productTotal / 100) | number_format(2) }}€
										{% set total = total + productTotal %}
									{% else %}
										N/A
									{% endif %}
								</td>
								<td>
									{% if product.product is not null and product.product.id is not null %}
										<a href="{{ path('delete_to_product', {'id': product.product.id}) }}" class="btn btn-sm btn-danger">
											<i class="fas fa-trash-alt"></i>
										</a>
									{% else %}
										N/A
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="text-end mt-4">
				<p class="fw-bold">Nombre de produits:
					{{ cart | length }}</p>
				<p class="fw-bold">Total de mon panier:
					{{ (total / 100) | number_format(2) }}€</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="{{ path('remove_my_cart') }}" class="btn btn-danger me-md-2 mb-2 mb-md-0">Annuler mon panier</a>
					<a href="{{ path('order') }}" class="btn btn-success">Valider mon panier</a>
				</div>
			</div>
		{% else %}
			<p>Votre panier est vide</p>
		{% endif %}
	</div>
{% endblock %}
