{% extends 'base.html.twig' %}
{% block title %}Mon panier - MyBoutique
{% endblock %}
{% block content %}
	<h1>Mon panier</h1>
	<p>Retrouver l'ensemble des produits ajoutés au panier</p>
	<hr>
	{% if cart | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Produits</th>
					<th scope="col">Noms</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% set total = null %}
				{% for product in cart %}

					<th scope="row">
						{% if product.product is not null and product.product.illustration is not null %}
							<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" style="height:100px; width=100px">
						{% else %}
							N/A
						{% endif %}
					</th>
					<td>
						{% if product.product is not null %}
							{{ product.product.name }}<br>
							<i>{{ product.product.subtitle }}</i>
						{% else %}
							N/A
						{% endif %}
					</td>
					<td>
						<a href="{{path('decrease_to_cart',{'id':product.product.id})}}" class="btn btn-danger">
							<i class="fas fa-minus-square"></i>
						</a>
						{{product.quantity}}
						<a href="{{path('add_to_cart',{'id':product.product.id})}}" class="btn btn-success">
							<i class="fas fa-plus-square"></i>
						</a>
					</td>
					<td>
						{% if product.product is not null and product.product.price is not null %}
							{{ (product.product.price / 100) | number_format(2) }}€
						{% else %}
							N/A
						{% endif %}
					</td>
					<td>
						{% if product.product is not null and product.product.price is not null %}
							{% set productTotal = product.product.price * product.quantity %}
							{{ (productTotal / 100) | number_format(2) }}€
							{% set total = total + productTotal %}
						{% else %}
							N/A
						{% endif %}
					</td>
					<td>
						{% if product.product is not null and product.product.id is not null %}
							<a href="{{ path('delete_to_cart', {'id': product.product.id}) }}" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>
							</a>
						{% else %}
							N/A
						{% endif %}
					</td>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table><div class="text-end">
<b>
	Nombre de produits:
	{{ cart | length }}
</b>
<b><br>
	Total de mon panier:
	{{ (total / 100) | number_format(2) }}€
</b><br>
<a href="{{ path('')}}" class="btn btn-success col-12">Valider mon panier</a></div>{% else %}<p>
<b>Votre panier est vide</b></p>{% endif %}{% endblock %}
