{% extends 'base.html.twig' %}

{% block title %}
	Mes Adresses - TOMOKI
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="d-flex justify-content-between mb-3">
			<h1 class="flex-grow-1">Mes adresses</h1>
			<a href="{{ path('account_address_add') }}" class="btn btn-primary">Ajouter une nouvelle adresse</a>
		</div>
		<p>Dans cet espace, vous pouvez gérer toutes vos adresses.</p>
		<a href="{{ path('account') }}" class="btn btn-outline-info mb-3">Retour à votre compte</a>
		<hr>

		{% if app.user.addresses | length == 0 %}
			<p class="text-center">Il n'y a pas d'adresses enregistrées dans votre compte client.</p>
		{% else %}
			<div class="row">
				{% for address in app.user.addresses %}
					<div class="col-md-4 mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">{{ address.name }}</h5>
								<p class="card-text">
									{{ address.address }}<br>
									{{ address.postal }}
									-
									{{ address.city }}
								</p>
							</div>
							<div class="card-footer">
								<a href="{{ path('account_address_edit', {'id': address.id}) }}" class="btn btn-info">Modifier</a>
								<a href="{{ path('account_address_delete', {'id': address.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l\'adresse {{ address.name | e('js') }} ?');">
									Supprimer
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
