{% extends 'base.html.twig' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-3">Poster un commentaire sur le produit : {{ product.name }}</h1>
    
    {% if product.isProductFromUser(app.user) %}
        {% if product.getCommentFromUser(app.user) is null %}
            <div class="card">
                <div class="card-header">
                    <h2>Votre avis compte</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Vous avez déjà laissé un commentaire sur l'article {{ product.name }}</h4>
                <hr>
                <p>Vous ne pouvez poster qu'un seul commentaire par produit acheté. Votre avis est très important pour nous et pour la communauté !</p>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Vous n'avez pas acheté l'article {{ product.name }}</h4>
            <hr>
            <p>Seuls les clients ayant acheté ce produit peuvent laisser un commentaire.</p>
        </div>
    {% endif %}

    <a href="{{ path('account') }}" class="btn btn-outline-success">Retour à votre compte</a>
</div>
{% endblock %}
