{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
	- TOMOKI
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-6">
					<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid rounded-start">
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<h1 class="card-title">{{ product.name }}</h1>
						<h5 class="text-muted">{{ product.subtitle }}</h5>
						<p class="card-text">{{ product.description | striptags('<br><p><strong><b><img>') | raw }}</p>
						<div class="mb-2">
							<strong>Prix :</strong>
							{{ (product.price / 100) | number_format(2) }}
							€
						</div>
						<div>
							<a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier<i class="fas fa-cart-plus ms-2"></i>
							</a>
							<a href="{{ path('products') }}" class="btn btn-outline-secondary ms-2">Retour aux produits</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% if product.comments|length > 0 %}
			<div class="mt-4">
				<h3>Commentaires des utilisateurs</h3>
				{% for comment in product.comments %}			
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">{{ comment.user.firstName }}
								{{ comment.user.lastName }}</h5>
							<p class="card-text">{{ comment.content | nl2br | striptags('<br><b>') | raw }}</p>
							<div>
								<strong>Note:</strong>
								{% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
							</div>
						</div>
					</div>
				
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-secondary mt-3">Il n'y a pas de commentaires</div>
		{% endif %}

		<div class="alert alert-info mt-3">
			<strong>Note sur les commentaires :</strong>
			{{ product.comments | length }}
			<div>
				{% include 'partials/rating.html.twig' with {'rating': product.AVGRatings()} %}
			</div>
		</div>
	</div>
{% endblock %}

