{% extends 'base.html.twig' %}
{% block title %}Inscription Tomoki
{% endblock %}
{% block content %}
	<h1 class="mt-4">Inscription</h1>
	Mon formulaire d'inscription
	{{form_start(form)}}
	{{form_row(form.firstName,{'attr':{'title':'Titre avec un minimun de 10 caractères et au maximum 50 caractères'}})}}
	{{form_row(form.lastName)}}
	{{form_row(form.email)}}
	{{form_row(form.password)}}
	{{form_row(form.confirmPassword)}}
	{{form_row(form.submit)}}
	{{form_end(form)}}

{% endblock %}
